<%- include('../partials/header.ejs') %>
<div class="content">
    <div class="center-container">
        <form action = '/trades/<%= trade._id%>?_method=PUT' method = 'POST' class="mt-20">
            <label for="topic">Topic</label>
            <input type="text" id="topic" name="topic" placeholder="Enter topic.." value="<%= trade.topic %>" required>

            <label for="name">Title</label>
            <input type="text" id="name" name="name" placeholder="Enter title.." value="<%= trade.name %>" required>

            <label for="details">Detail</label>
            <textarea id="details" name="details" placeholder="Enter detail.." required minlength="10"><%= trade.details %></textarea>

            <label for="status">Status</label>
            <textarea id="status" name="status" placeholder="Enter status.."><%= trade.status %></textarea>

            <label for="image">Image URL</label>
            <input type="url" id="image" name="image" placeholder="Enter image url.." value="<%= trade.image %>" required>
        
            <button class="button submit-btn mb-100">Update trade</button>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>