<%- include('../partials/header.ejs') %>
    <div class="content">
        <div class="center-container mb-100">
            <% if(categories.length){ %>
                <% categories.forEach(category => { %>
                <div class="listing">
                    <h3><%= category %></h3>
                    <ol>
                        <% if(trades.length){ %>
                            <% trades.forEach(trade => { 
                                if (trade.topic === category) { %>
                                    <li><a href='/trades/<%= trade.id %>'><%= trade.name %></a></li>
                                <% } });
                            } else { %>
                                <p>There are no trades to display.</p>
                        <% } %>
                    </ol>
                </div>
                <% }); %>
            <% } else { %>
                <p>There are no categories to display.</p>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>